---
import MidnightRadialLights from "../components/backgrounds/MidnightRadialLights.astro";
import Badge from "../components/badge/Badge.astro";
import NeonBlue from "../components/buttons/NeonBlue.astro";
import NeonOrange from "../components/buttons/NeonOrange.astro";
import ScrollIndicator from "../components/scrollIndicators/ScrollIndicator.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import { translations } from "../translations/i18n";
import GeneralContainer from "../utils/GeneralContainer.astro";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.HOME[lang];
---

<!-- Home Section -->
<section
  id="home"
  class="relative w-full min-h-screen h-full px-5 py-12 lg:px-14 flex justify-center items-center"
>
  <MidnightRadialLights />
  <GeneralContainer
    class="flex flex-col-reverse lg:flex-row justify-between gap-8 lg:gap-12 mt-10"
  >
    <!-- Description content -->
    <div class="flex flex-col justify-center lg:w-2/3">
      <h3 class="text-zinc-400">{t.h3}</h3>
      {
        (
          <h1 class="font-semibold flex items-center gap-4 mt-2 flex-wrap">
            <div set:html={t.h1} />
            <a
              class="flex justify-center items-center"
              href="https://linkedin.com/in/aldo-javier-codutti"
              target="_blank"
              rel="noopener me"
              aria-label="Check my LinkedIn profile"
            >
              <Badge>{t.badge}</Badge>
            </a>
          </h1>
        )
      }
      <p
        class="opacity-80 font-extralight mt-4 text-pretty"
        set:html={t.description}
      />

      <!-- Socials -->
      <ul class="mt-10 flex gap-4">
        <li>
          <a
            href="https://github.com/javicod92"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer me"
            title="Github"
            aria-label="Github"
          >
            <Github class="w-full" aria-hidden="true" />
          </a>
        </li>
        <li>
          <a
            href="https://linkedin.com/in/aldo-javier-codutti"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer me"
            title="LinkedIn"
            aria-label="LinkedIn"
          >
            <LinkedIn class="w-full" aria-hidden="true" />
          </a>
        </li>
        <li>
          <a
            href="mailto:javi.javier.jc@gmail.com"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer"
            title="Email"
            aria-label="Email"
          >
            <Mail class="w-full" aria-hidden="true" />
          </a>
        </li>
      </ul>

      <!-- Curriculum and Resume -->
      <div class="mt-12 flex gap-2 flex-wrap">
        <NeonBlue href={t.download.resume} as="a" target="_blank"
          >{t.resume}</NeonBlue
        >
        <NeonOrange>{t.cv}</NeonOrange>
      </div>
    </div>

    <!-- Image Profile -->
    <div class="flex items-center justify-center lg:w-2/5">
      <img
        src="/ProfileSm.webp"
        alt="Javier Codutti - Web Developer"
        width="500"
        height="500"
        class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg"
        loading="lazy"
      />
    </div>
  </GeneralContainer>
  <ScrollIndicator
    class="hidden lg:flex absolute bottom-10"
    text={t.discover}
  />
</section>
