---
import BlueButtonShadow from "../components/buttons/BlueButtonShadow.astro";
import GeneralButton from "../components/buttons/GeneralButton.astro";
import CoursesCard from "../components/coursesCard/CoursesCard.astro";
import Certificate from "../icons/Certificate.astro";
import { translations } from "../translations/i18n";
import ContainerSm from "../utils/ContainerSm.astro";
import HighLight from "../utils/HighLight.astro";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.PORTFOLIO[lang];
---

<section
  id="portfolio"
  class="relative w-full min-h-screen h-full px-5 py-24 lg:px-14 flex flex-col justify-center items-center"
  aria-labelledby="portfolio-heading"
>
  <ContainerSm>
    <!-- Page Titles -->
    <div>
      <h2
        class="font-medium text-zinc-400 flex items-center gap-2"
        id="portfolio-heading"
      >
        <Certificate class="size-8" />{t.h2}
      </h2>
      <h3 class="mt-1 font-semibold" set:html={t.h3} />
    </div>

    <!-- Courses and Certifications Cards -->
    <div
      class="mt-10 lg:pl-10 flex flex-col gap-8 lg:border-l-2 border-zinc-700 w-full"
    >
      {
        t.coursesCards
          .map((course) => (
            <CoursesCard
              title={course.title}
              platform={course.platform}
              date={course.date}
            >
              <p set:html={course.description} />
              <GeneralButton
                class="mt-6"
                as="a"
                target="_blank"
                href={course.href}
              >
                {t.certificationButton}
              </GeneralButton>
            </CoursesCard>
          ))
          .slice(0, 4)
      }

      <!-- Courses Hidden -->
      <div id="coursesHidden" class="hidden flex-col gap-8">
        {
          t.coursesCards
            .map((course) => (
              <CoursesCard
                title={course.title}
                platform={course.platform}
                date={course.date}
              >
                <p set:html={course.description} />
                <GeneralButton
                  class="mt-6"
                  as="a"
                  target="_blank"
                  href={course.href}
                >
                  {t.certificationButton}
                </GeneralButton>
              </CoursesCard>
            ))
            .slice(4)
        }
      </div>
    </div>
  </ContainerSm>
  <div class="mt-10 w-full flex justify-center">
    <BlueButtonShadow as="button" id="showMoreBtn">
      View More
    </BlueButtonShadow>
  </div>

  <!-- Script to handle opening and closing of elements -->
  <script>
    const containerHidden = document.getElementById("coursesHidden");
    const showMoreBtn = document.getElementById("showMoreBtn");

    function handleBtn() {
      if (containerHidden?.classList.contains("hidden")) {
        containerHidden.classList.remove("hidden");
        containerHidden.classList.add("flex");
        showMoreBtn ? (showMoreBtn.textContent = "Show Less") : "";
      } else {
        containerHidden?.classList.remove("flex");
        containerHidden?.classList.add("hidden");
        showMoreBtn ? (showMoreBtn.textContent = "Show More") : "";
      }
    }

    showMoreBtn?.addEventListener("click", handleBtn);
  </script>
</section>
