---
import ProjectCard from "../components/projectCard/ProjectCard.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import GeneralContainer from "../utils/GeneralContainer.astro";
import BlueButtonShadow from "../components/buttons/BlueButtonShadow.astro";
import Github from "../icons/Github.astro";
import { translations } from "../translations/i18n";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.PROJECTS[lang];
---

<section
  id="projects"
  class="relative w-full min-h-screen h-full px-5 py-24 lg:px-14 flex flex-col justify-center items-center bg-zinc-900/50"
  aria-labelledby="projects-heading"
>
  <GeneralContainer>
    <!-- Page Title -->
    <div class="lg:max-w-2/3">
      <h2
        class="font-medium text-zinc-400 flex items-center gap-2"
        id="projects-heading"
      >
        <CodeIcon class="size-8" />{t.h2}
      </h2>
      <h3 class="mt-1 font-semibold" set:html={t.h3} />
    </div>

    <!-- Main Project Sections -->
    <div class="mt-10 flex flex-col gap-10">
      {
        t.projectsCards.map((project) => (
          <ProjectCard
            src={project.src}
            imageSm={project.imageSm}
            title={project.title}
            date={project.date}
            technologies={project.technologies}
            github={project.github}
            live={project.live}
          >
            <p class="mt-2" set:html={project.description} />
          </ProjectCard>
        ))
      }
    </div>

    <!-- Go to Github Button -->
    <div class="mt-10 w-full flex justify-center">
      <BlueButtonShadow
        as="a"
        class="flex items-center justify-center gap-2"
        href="https://github.com/javicod92"
        target="_blank"
        ><Github class="size-6" />{t.gotoGithub}</BlueButtonShadow
      >
    </div>
  </GeneralContainer>
</section>
