---
import YouTube from "../../icons/YouTube.astro";
import { translations } from "../../translations/i18n";
import ButtonBlue from "../buttons/ButtonBlue.astro";
import GeneralButton from "../buttons/GeneralButton.astro";
import TechnologyPill from "../technologyPill/TechnologyPill.astro";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.PROJECTS[lang];

type ProjectTypes = {
  src: string;
  imageSm: string;
  title: string;
  date: string;
  technologies: Array<Record<string, any>>;
  github: string;
  live?: string;
  youtube?: Record<string, string>;
};

const { src, imageSm, title, date, technologies, github, live, youtube } =
  Astro.props as ProjectTypes;
---

<div
  class="flex flex-col lg:flex-row CardBg border border-gray-800 p-8 rounded-lg overflow-hidden shadow-sm"
>
  <!-- Image -->
  <div
    class="lg:max-w-2/5 w-full flex items-center justify-center pb-8 lg:pr-8 lg:pb-0 border-b lg:border-r lg:border-b-0 border-gray-800"
  >
    <a
      class="Container relative rounded-sm w-full overflow-hidden cursor-pointer md:max-w-2/3 lg:max-w-full"
      href={imageSm}
      target="_blank"
    >
      <img
        src={src}
        alt="Project-Image"
        class="w-full"
        loading="lazy"
        width="500"
        height="500"
      />
      <div class="Overlay">
        <div class="Text">{t.clickToSee}</div>
      </div>
    </a>
  </div>

  <!-- Project Description -->
  <div class="lg:max-w-2/3 w-full pt-8 lg:pl-8 lg:pt-0">
    <h3 class="flex flex-col text-cyan-500 font-medium">
      {title}
      <span class="text-base font-light">
        {date}
      </span>
    </h3>
    <slot />

    <!-- Technologies Icons -->
    <div class="mt-6 flex gap-2 flex-wrap">
      {
        technologies.map((technology) => (
          <TechnologyPill name={technology.name} Icon={technology.icon} />
        ))
      }
    </div>

    <!-- Buttons to view projects -->
    <div class="flex gap-2 mt-6 flex-wrap">
      <GeneralButton as="a" href={github} title={github} target="_blank">
        {t.viewOnGithub}
      </GeneralButton>
      {
        live && (
          <ButtonBlue as="a" href={live} title={live} target="_blank">
            {t.viewOnVercel}
          </ButtonBlue>
        )
      }
      {
        youtube && (
          <ButtonBlue
            as="a"
            href={youtube.href}
            title={youtube.href}
            target="_blank"
            class="flex gap-2"
          >
            <YouTube class="size-6" /> {youtube.buttonTitle}
          </ButtonBlue>
        )
      }
    </div>
  </div>
</div>

<style>
  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 42, 53, 0.8);
    clip-path: circle(0% at center);
    transition: clip-path 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Container:hover .Overlay {
    clip-path: circle(150% at center);
  }

  .Text {
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s;
  }

  .Container:hover .Text {
    opacity: 1;
  }
</style>
