---
import ButtonBlue from "../buttons/ButtonBlue.astro";
import GeneralButton from "../buttons/GeneralButton.astro";
import TechnologyPill from "../technologyPill/TechnologyPill.astro";

type ProjectTypes = {
  src: string;
  title: string;
  date: string;
  technologies: Array<Record<string, any>>;
  github: string;
  live: string;
};

const { src, title, date, technologies, github, live } =
  Astro.props as ProjectTypes;
---

<div
  class="flex flex-col lg:flex-row bg-gray-800/60 rounded-lg overflow-hidden border border-gray-800 shadow-sm"
>
  <!-- Image -->
  <div
    class="lg:max-w-2/5 w-full flex items-center justify-center bg-black/30 p-4"
  >
    <a
      class="Container relative rounded-sm w-full overflow-hidden cursor-pointer md:max-w-2/3 lg:max-w-full"
      href={src}
      target="_blank"
    >
      <img src={src} alt="Project-Image" class="w-full" />
      <div class="Overlay">
        <div class="Text">Click to see the image</div>
      </div>
    </a>
  </div>

  <!-- Project Description -->
  <div class="lg:max-w-2/3 w-full px-6 py-8">
    <h3 class="flex flex-col text-cyan-500 font-medium">
      {title}
      <span class="text-base font-light">
        {date}
      </span>
    </h3>
    <slot />

    <!-- Technologies Icons -->
    <div class="mt-6 flex gap-2 flex-wrap">
      {
        technologies.map((technology) => (
          <TechnologyPill name={technology.name} Icon={technology.icon} />
        ))
      }
    </div>

    <!-- Buttons to view projects -->
    <div class="flex gap-2 mt-6">
      <GeneralButton as="a" href={github} title={github} target="_blank">
        View in GitHub
      </GeneralButton>
      {
        live && (
          <ButtonBlue as="a" href={live} title={live} target="_blank">
            View deploy in Vercel
          </ButtonBlue>
        )
      }
    </div>
  </div>
</div>

<style>
  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 42, 53, 0.8);
    clip-path: circle(0% at center);
    transition: clip-path 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Container:hover .Overlay {
    clip-path: circle(150% at center);
  }

  .Text {
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s;
  }

  .Container:hover .Text {
    opacity: 1;
  }
</style>
