---
import GeneralButton from "../../components/buttons/GeneralButton.astro";
import CoursesCard from "../../components/coursesCard/CoursesCard.astro";
import HighLight from "../../utils/HighLight.astro";
import { translations } from "../i18n";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.PORTFOLIO[lang];
---

<CoursesCard>
  <p></p>

  <GeneralButton class="mt-6" as="a" target="_blank">
    Ver Certificación
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="JavaScript Algorithms and Data Structures (Beta)"
  platform="freeCodeCamp"
  date="Julio 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Fortalecí mis habilidades en <span class="HighLight">JavaScript</span> construyendo
      <span class="HighLight">aplicaciones interactivas</span>
      y mejorando mi entendimiento de <span class="HighLight">
        >funciones, arrays, objetos, y programación asíncrona.</span
      > Fortalecí mi experiencia en <span class="HighLight">
        >manipulación del DOM, manejo de eventos,</span
      > y las mejores prácticas para lograr un código limpio y escalable.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/JsDataStructures-freeCodeCamp.png"
  >
    {t.certificationButton}
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="Introducción a la Programación"
  platform="Informatorio Chaco"
  date="Mayo - Junio 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Gané experiencia práctica con <span class="HighLight">
        >HTML, CSS3, Git y GitHub</span
      > desarrollando un portafolios web personal. Apliqué <span
        class="HighLight"
      >
        >buenas prácticas de programación</span
      > para mejorar la estructura del código, mantenibilidad y accesibilidad.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/IntroduccionProgramacion-Informatorio.pdf"
  >
    {t.certificationButton}
  </GeneralButton>
</CoursesCard>

<!-- Courses Hidden -->
<div id="coursesHidden" class="hidden flex-col gap-8">
  <CoursesCard
    title="Legacy JavaScript Algorithms and Data Structures"
    platform="freeCodeCamp"
    date="Mayo - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Fortalecí mi entendimiento de <span class="HighLight">JavaScript</span>
        trabajando con <span class="HighLight"
          >variables, funciones y clases.</span
        > Mejoré mis habilidades para llevar a cabo <span class="HighLight">
          >operaciones aritméticas</span
        > y manipular eficientemente <span class="HighLight"
          >arrays y objetos.</span
        >
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/LegacyJs-freeCodeCamp.png"
    >
      {t.certificationButton}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard title="Curso CSS3" platform="Ademass" date="Mayo - 2024">
    <p>
      <span class="text-gray-200 text-pretty">
        Apliqué conceptos de <span class="HighLight">CSS3</span> en proyectos reales,
        mejoré mis habilidades en el uso de <span class="HighLight">
          >selectores, clases y diseño web responsivo.</span
        > Me enfoqué en <span class="HighLight">Flexbox y Grid</span> para estructurar
        layouts y desarrollé <span class="HighLight"
          >animaciones y transiciones</span
        > para mejorar la <span class="HighLight">experiencia de usuario</span>.
        También aprendí las mejores prácticas para brindar un código de estilos <span
          class="HighLight"
        >
          >fáciles de mantener y escalar.</span
        >
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/CSS3-Ademass.pdf"
    >
      {t.certificationButton}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Curso HTML5 (HTML5 Course)"
    platform="Ademass"
    date="May - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned to build <span class="HighLight">structured and accessible</span
        > web applications using <span class="HighLight">HTML5</span>. Focused
        on <span class="HighLight">
          >semantic elements, headings, forms, and attributes</span
        > to improve <span class="HighLight">SEO and user experience</span>.
        Gained experience with <span class="HighLight">ARIA roles</span> for accessibility
        and integrated multimedia elements like <span class="HighLight"
          >videos and audio</span
        > to create engaging content.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/HTML5-Ademass.pdf"
    >
      {t.certificationButton}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Responsive Web Design"
    platform="freeCodeCamp"
    date="April - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Developed <span class="HighLight">responsive websites</span> using <span
          class="HighLight"
        >
          >HTML5, CSS3, Flexbox, and Grid</span
        >, ensuring adaptability across different devices. Implemented <span
          class="HighLight"
        >
          >media queries</span
        > to create fluid designs that adjust dynamically to screen sizes. Built
        several <span class="HighLight">real-world projects</span> to solidify my
        skills in modern <span class="HighLight"
          >web design and accessibility</span
        >.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/ResponsiveWD-freeCodeCamp.png"
    >
      {t.certificationButton}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Desarrollo Web (Web Development)"
    platform="Informatorio Chaco"
    date="August - December 2022"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned and applied backend oriented programming skills using
        <span class="HighLight">Python and Django.</span> Developed the user interface
        for an “association” using HTML CSS and Vanilla JavaScript. Implemented user
        authentication and user storage in <span class="HighLight">
          >SQL Server and SQLite3</span
        > databases. This was one of my first experiences for a real client.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/DesarrolloWeb-Informatorio.png"
    >
      {t.certificationButton}
    </GeneralButton>
  </CoursesCard>
</div>
