---
import GeneralButton from "../../components/buttons/GeneralButton.astro";
import CoursesCard from "../../components/coursesCard/CoursesCard.astro";
import HighLight from "../../utils/HighLight.astro";
import { translations } from "../i18n";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.PORTFOLIO[lang];
---

<CoursesCard
  title="React"
  platform="Informatorio Chaco"
  date="Julio - Noviembre 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      <p>
        <span class="text-gray-200 text-pretty">
          Desarrollé y desplegué <HighLight
            >aplicaciones web interactivas</HighLight
          > usando <HighLight>React y Next.js.</HighLight> Implementé el manejo de
          estados con <HighLight>useState, useEffect, useRef</HighLight> y consolidé
          el uso de <HighLight
            >React Router, TypeScript, y Context API</HighLight
          >. Integré autenticación con <HighLight>NextAuth y JWT</HighLight>,
          conecté a base de datos como <HighLight>MongoDB</HighLight>, y consumí
          APIs con <HighLight>Axios</HighLight>. Optimice estilos con <HighLight
            >Tailwind CSS</HighLight
          > y mejoré la experiencia de usuario con
          <HighLight>Framer Motion animations</HighLight>. Apliqué estas
          habilidades en proyectos personales, incluyendo una <HighLight
            >aplicación de reproducción de audio</HighLight
          > inspirada en YouTube Music.
        </span>
      </p>
    </span>
  </p>
  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/React-Informatorio.pdf"
  >
    {t.buttonCertification}
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="Inglés Técnico"
  platform="Informatorio Chaco"
  date="Julio - Noviembre 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Mejoré mi <HighLight>dominio de Inglés</HighLight> en lectura, escritura y
      habla, con un enfoque especifico sobre <HighLight
        >terminologías técnicas en programación.</HighLight
      > Apliqué estas habilidades en multiples proyectos para mejorar documentación,
      comunicación y eficiencia del código.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/InglesTecnico-Informatorio.pdf"
  >
    Ver Certificación
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="JavaScript Algorithms and Data Structures (Beta)"
  platform="freeCodeCamp"
  date="Julio 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Fortalecí mis habilidades en <HighLight>JavaScript</HighLight> construyendo
      <HighLight>aplicaciones interactivas</HighLight>
      y mejorando mi entendimiento de <HighLight
        >funciones, arrays, objetos, y programación asíncrona.</HighLight
      > Fortalecí mi experiencia en <HighLight
        >manipulación del DOM, manejo de eventos,</HighLight
      > y las mejores prácticas para lograr un código limpio y escalable.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/JsDataStructures-freeCodeCamp.png"
  >
    {t.buttonCertification}
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="Introducción a la Programación"
  platform="Informatorio Chaco"
  date="Mayo - Junio 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Gané experiencia práctica con <HighLight
        >HTML, CSS3, Git y GitHub</HighLight
      > desarrollando un portafolios web personal. Apliqué <HighLight
        >buenas prácticas de programación</HighLight
      > para mejorar la estructura del código, mantenibilidad y accesibilidad.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/IntroduccionProgramacion-Informatorio.pdf"
  >
    {t.buttonCertification}
  </GeneralButton>
</CoursesCard>

<!-- Courses Hidden -->
<div id="coursesHidden" class="hidden flex-col gap-8">
  <CoursesCard
    title="Legacy JavaScript Algorithms and Data Structures"
    platform="freeCodeCamp"
    date="Mayo - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Fortalecí mi entendimiento de <HighLight>JavaScript</HighLight>
        trabajando con <HighLight>variables, funciones y clases.</HighLight> Mejoré
        mis habilidades para llevar a cabo <HighLight
          >operaciones aritméticas</HighLight
        > y manipular eficientemente <HighLight>arrays y objetos.</HighLight>
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/LegacyJs-freeCodeCamp.png"
    >
      {t.buttonCertification}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard title="Curso CSS3" platform="Ademass" date="Mayo - 2024">
    <p>
      <span class="text-gray-200 text-pretty">
        Apliqué conceptos de <HighLight>CSS3</HighLight> en proyectos reales, mejoré
        mis habilidades en el uso de <HighLight
          >selectores, clases y diseño web responsivo.</HighLight
        > Me enfoqué en <HighLight>Flexbox y Grid</HighLight> para estructurar layouts
        y desarrollé <HighLight>animaciones y transiciones</HighLight> para mejorar
        la <HighLight>experiencia de usuario</HighLight>. También aprendí las
        mejores prácticas para brindar un código de estilos <HighLight
          >fáciles de mantener y escalar.</HighLight
        >
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/CSS3-Ademass.pdf"
    >
      {t.buttonCertification}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Curso HTML5 (HTML5 Course)"
    platform="Ademass"
    date="May - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned to build <HighLight>structured and accessible</HighLight> web applications
        using <HighLight>HTML5</HighLight>. Focused on <HighLight
          >semantic elements, headings, forms, and attributes</HighLight
        > to improve <HighLight>SEO and user experience</HighLight>. Gained
        experience with <HighLight>ARIA roles</HighLight> for accessibility and integrated
        multimedia elements like <HighLight>videos and audio</HighLight> to create
        engaging content.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/HTML5-Ademass.pdf"
    >
      {t.buttonCertification}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Responsive Web Design"
    platform="freeCodeCamp"
    date="April - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Developed <HighLight>responsive websites</HighLight> using <HighLight
          >HTML5, CSS3, Flexbox, and Grid</HighLight
        >, ensuring adaptability across different devices. Implemented <HighLight
          >media queries</HighLight
        > to create fluid designs that adjust dynamically to screen sizes. Built
        several <HighLight>real-world projects</HighLight> to solidify my skills
        in modern <HighLight>web design and accessibility</HighLight>.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/ResponsiveWD-freeCodeCamp.png"
    >
      {t.buttonCertification}
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Desarrollo Web (Web Development)"
    platform="Informatorio Chaco"
    date="August - December 2022"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned and applied backend oriented programming skills using
        <HighLight>Python and Django.</HighLight> Developed the user interface for
        an “association” using HTML CSS and Vanilla JavaScript. Implemented user
        authentication and user storage in <HighLight
          >SQL Server and SQLite3</HighLight
        > databases. This was one of my first experiences for a real client.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/DesarrolloWeb-Informatorio.png"
    >
      {t.buttonCertification}
    </GeneralButton>
  </CoursesCard>
</div>
